{# /src/OC/PlatformBundle/Resources/views/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}
{% block title %} {{parent()}} Affichage d'annonce {% endblock %}

{% block ocplatform_body %} 

	{% for message in app.session.flashbag.get('infoAjoutAnnonce') %}
		<div class="well"> {{message}} </div>
	{% endfor %}


	{%if count is not empty %}
	<div class="well" style="background-color:green"> 
		Il existe {{count}} candidatures pour cette annonce!
	</div>
	{% endif %}

	{%if advert.image is not null %}
		<img src="{{advert.image.url}}" alt="{{advert.image.alt}}">
	{% endif %}

	<h2> {{advert.title }}</h2>
	<i> Par {{advert.author }}, le {{advert.date|date('d/m/Y') }}</i>

	<div class="well">
		{{ advert.content }}
	</div>

	
		{% if not advert.categories.empty %}
			<div>
				Cette annonce existe pour les categories suivantes : 
				<br> 
				{% for c in advert.categories %}
					{{c.name}} {% if not loop.last %}, {% endif %}
				{% endfor %}
			</div>
		{% endif %}
	

	<br> <br>

	
	{% if listAdvertSkills|length > 0 %}
		<div class="well">
			Cette annonce requiert les competances suivantes : 
			<ul>
				{% for advertSkill in listAdvertSkills %}
					<li> {{advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	

	<br><br>

	<p>
    	<a href="{{ url('oc_platform_home') }}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Retour à la liste
		</a>

    		<a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
		<i class="glyphicon glyphicon-edit"></i>
		Modifier l'annonce
		</a>

		<a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
		<i class="glyphicon glyphicon-trash"></i>
		Supprimer l'annonce
		</a>
	</p>

	<br> <br>

	<div>
		{% for type, messages in app.session.flashBag.all() %}
			{% for message in messages %}
				{% if type == 'info' %}
					<p> Message flash : {{ message }} </p>
				{% elseif type == 'notice' %}
					<p> Message flash : {{ message }} </p>
				{% endif %}
			{% endfor %}
		{% endfor %}

	</div>


{% endblock %} 

    
    
	
	
	
    

